
{% extends 'base.html.twig' %}

{% block title %}Expirations a venir{% endblock %}

{% block cssUserNavBarItem %}active{% endblock %}

{% block body %}
<h1 style="text-align:center;">Statistiques</h1>
<div class="row">
    <div class="col-sm">
  <div id="keyspersite" style="min-width: 310px; height: 400px; max-width: 500px; margin: 0 auto"></div>
    </div>
    <div class="col-sm">
  <div id="lostKeys" style="min-width: 310px; height: 400px; max-width: 500px; margin: 0 auto"></div>
    </div>
  </div>

{% endblock %}



{% block js_importedLib %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://www.highcharts.com/media/com_demo/js/highslide-full.min.js"></script>
<script src="https://www.highcharts.com/media/com_demo/js/highslide.config.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="https://www.highcharts.com/media/com_demo/css/highslide.css" />
{% endblock %}

{% block js %}
var chart;
function drawChart(data) {
  var options = {
    chart: {
      plotBackgroundColor: null,
      plotBorderWidth: 0,
      plotShadow: false
    },
    title: {
      text: 'Répartitions<br>trousseaux',
      align: 'center',
      verticalAlign: 'middle',
      y: 40
    },
    tooltip: {
      pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
    },
    plotOptions: {
      pie: {
        dataLabels: {
          enabled: true,
          distance: -50,
          style: {
            fontWeight: 'bold',
            color: 'white'
          }
        },
        startAngle: -90,
        endAngle: 90,
        center: ['50%', '75%'],
        size: '110%'
      }
    },
    series: [{
      type: 'pie',
      name: 'Répartition trousseaux',
      innerSize: '50%',
      data: data,
    }]
  };
  Highcharts.chart('keyspersite', options);
}
function lostKeys(data) {
   var options = {
    chart: {
      plotBackgroundColor: null,
      plotBorderWidth: 0,
      plotShadow: false
    },
    title: {
      text: 'Etats des clefs',
      align: 'center',
      verticalAlign: 'middle',
      y: 40
    },
    tooltip: {
      pointFormat: '{series.name}: <b> {point.percentage:.1f}%</b>'
    },
    plotOptions: {
      pie: {
        dataLabels: {
          enabled: true,
          distance: -50,
          style: {
            fontWeight: 'bold',
            color: 'white'
          }
        },
        startAngle: -90,
        endAngle: 90,
        center: ['50%', '75%'],
        size: '110%'
      }
    },
    series: [{
      type: 'pie',
      name: 'Répartition trousseaux',
      innerSize: '50%',
      data: data,
    }]
  };
  Highcharts.chart('lostKeys', options);
}
{% endblock %}
{% block js_documentReady %}
  $.ajax({
      url: "/listTrousseauPerSitesAjax",
      data: {},
		dataType: 'json',
  }).done(function(data) {
    var json = JSON.parse(data);
    drawChart(json);
  })
  .fail(function() {
      alert( "error" );
  });

  $.ajax({
      url: "/listTrousseauPerStateAjax",
      data: {},
		dataType: 'json',
  }).done(function(data) {
    var json = JSON.parse(data);
    lostKeys(json);
  })
  .fail(function() {
      alert( "error" );
  });
{% endblock %}
