{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}

{% block body %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<h1>Votre compte</h1>
<br />
<h3>Bonjour, {{ app.user.firstname }}</h3>
<br />
<p>Nom : {{ app.user.name }}</p>
<p>Login : {{ sessionUserName }}</p>
<p>Email: {{ app.user.email }}</p>
<br />
<a href="/logout">Logout</a>
{% endif %}

{% endblock %}
